{cover_enabled,true}.
{deps,[
	{uuid,"0.4.6",{git,"git://github.com/avtobiff/erlang-uuid.git",{tag,"v0.4.6"}}},
	{jsx,"2.0.4",{git,"git://github.com/talentdeficit/jsx.git",{tag,"v2.0.4"}}},
	{webmachine,".*",{git,"git://github.com/basho/webmachine.git"}},
	{mcd,".*",{git,"git://github.com/EchoTeam/mcd.git"}}
]}.
{eunit_exclude_deps,true}.
